{% extends 'intranet/base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('telerik/styles/kendo.common.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('telerik/styles/kendo.rtl.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('telerik/styles/kendo.default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('telerik/styles/kendo.default.mobile.min.css') }}"/>
    <script src="{{ asset('telerik/js/jquery.min.js') }}"></script>
    <script src="{{ asset('telerik/js/jszip.min.js') }}"></script>
    <script src="{{ asset('telerik/js/kendo.all.min.js') }}"></script>
    <script src="{{ asset('telerik/js/kendo.timezones.min.js') }}"></script>
    <script src="{{ asset('telerik/js/messages/kendo.messages.pl-PL.min.js') }}"></script>
    <script src="{{ asset('telerik/js/cultures/kendo.culture.pl-PL.min.js') }}"></script>
    <div class="well well-sm"><span class="path">
        <a href="{{ path('Aktualności') }}">Strona Główna</a> / {{ app.request.get('_route') }}</span>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% include ('::flash-messages.html.twig') %}
        </div>
    </div>

    <section class="home_grid">
        <h2>Kategorie dokumentów</h2>
        <div id="grid"></div>
    </section>

    <hr>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
            <section class="docs_form">
                {{ form_start(form) }}
                {{ form_row(form.mainCheckbox) }}
                {{ form_row(form.name) }}
                <div id="app_bundle_document_div_parent_category">
                    {{ form_row(form.parentId) }}
                </div>
                {{ form_row(form.save) }}
                {{ form_widget(form.save, { 'class': 'btn-danger' }) }}
                {{ form_end(form) }}
            </section>
        </div>
    {% endif %}

    <div class="container">
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nazwa Kategorii</th>
                <th>Typ</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ category.name }}</td>
                    <td>{% if category.parentId == 0 %}główna{% else %}podkategoria{% endif %}</td>
                    <td>
                        <a href="{{ path('document_category_update', { 'id': category.id }) }}" class="btn btn-info">
                            <i class="fa fa-pencil"></i>Edytuj</a>
                        <button class="btn btn-danger deleteCategory" id="{{ category.id }}">
                            <i class="fa fa-close" aria-hidden="true"></i>Usuń
                        </button>
                        <div class="confirmation">
                            <h3>Uwaga!</h3>
                            <h4>Czy na pewno chcesz usunąć tę kategorię? <br><br>Razem z kategorią usuniesz dokumenty
                                należące
                                do niej<br> oraz jej podkategorie!</h4>
                            <hr/>
                            <p>Porada: Jeśli chcesz zachowac dokumenty, przypisz <br>dokumentom nową kategorię przed
                                usunięciem dotychczasowej.</p>
                            <a href="#" class="btn btn-success delete"><i class="fa fa-check" aria-hidden="true"></i>
                                Tak</a>
                            <a class="btn btn-danger cancel"><i class="fa fa-close" aria-hidden="true"></i> Anuluj</a>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $('#'+'{{category.id}}').on('click', function () {
                                    var path = "{{ path('document_category_delete', {'id': category.id })|raw }}";
                                    $('.confirmation').css('display', 'block');
                                    $('.confirmation > .delete').attr('href', path);
                                    $('.cancel').click(function () {
                                        $('.confirmation').css('display', 'none');
                                    });
                                });
                            });
                        </script>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $("#app_bundle_document_category_type_mainCheckbox").change(function () {
            if (this.checked) {
                $("#app_bundle_document_label_subcategory").text("Kategoria główna");
                $("select#app_bundle_document_category_type_parentId").val(0);
                $("#app_bundle_document_div_parent_category").hide();
                console.log("zaznaczono ptaka");
            } else {
                console.log("odznaczono ptaka");
                $("#app_bundle_document_label_subcategory").text("Podkategoria");
                $("#app_bundle_document_div_parent_category").show();
            }
        });
    </script>
{% endblock %}


