{% extends 'intranet/admin/admin.html.twig' %}
{% block adminBlock %}
    <script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
{#<?php#}
    {#require_once('controllers/singleNewsController.php');#}
    {#$array = getSingleNews($id, $db_user, $db_password);#}
    {#?>#}
{#<div class="well well-sm"><span class="path"><a href="{{ path('Strona Główna') }}">Strona Główna</a> / <a href="{{ path('Admin') }}">Admin</a> / <a href="{{ path('Struktura') }}">Struktura</a> / <a href="{{ path('Departament',{'departmentName': parent})}}">{{ parent }}</a> / {{ division.divisionName }}(edycja)</span></div>#}
<div class="row text-center news-row">
    <div class="col-xs-12">
        <div class="news-title">
            <h2>{{ user.userName }} {{ user.userLastname }}</h2>
            <h4>({{ user.userLogin }})</h4>
        </div>
    </div>
</div>
    <form id="user_edit_form" role="form" action="{{ path('edytuj użytkownika', {'userId': user.userId}) }}" method="post">
        <div class="col-xs-12">
            <fieldset class="col-sm-6">
                <div class="form-group">
                    <label for="name" class="control-label">Imię</label>
                    <input type="text" class="form-control" id="name" name="user_name" value="{{ user.userName }}" required>
                </div>
                <div class="form-group">
                    <label for="lastname" class="control-label">Nazwisko</label>
                    <input type="text" class="form-control" id="lastname" name="user_lastname" value="{{ user.userLastname }}" required>
                </div>
                <div class="form-group">
                    <label for="user_login" class="control-label">Login</label>
                    <input type="text" class="form-control" id="user_login" name="user_login" value="{{ user.userLogin }}" required>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="user_email" value="{{ user.userEmail }}" required>
                </div>
            </fieldset>
            <fieldset class="col-sm-6">
                <div class="form-group">
                    <label for="password" class="control-label">Hasło</label>
                    <input type="password" class="form-control" id="password" name="user_password">
                    <span id="password_check" class="check_password"><i class="fa fa-close" ></i></span>
                    <span class="form_password_message"></span>
                </div>
                <div class="form-group">
                    <label for="rpt_password" class="control-label">Powtórz hasło</label>
                    <input type="password" class="form-control" id="rpt_password" name="rpt_user_password" />
                    <span id="rpt_password_check" class="check_password"><i class="fa fa-close" ></i></span>
                    <span class="form_password_message"></span>
                </div>
                <script language='javascript' type='text/javascript'>
                    var rpt_password = document.getElementById("rpt_password");
                    var password = document.getElementById("password");
                    $('#rpt_password').on('change', function(){
                        if (password.value != rpt_password.value) {
                            $('.form_password_message').text('Hasła muszą być identyczne!')
                            $('#password_check > i').removeClass('fa-check').addClass('fa-close');
                            $('#rpt_password_check > i').removeClass('fa-check').addClass('fa-close');
                        }else{
                            $('.form_password_message').empty();
                            $('#password_check > i').removeClass('fa-close').addClass('fa-check');
                            $('#rpt_password_check > i').removeClass('fa-close').addClass('fa-check');
                        }
                    });
                    $('#password').on('change', function(){
                        if (password.value != rpt_password.value) {
                            $('.form_password_message').text('Hasła muszą być identyczne!')
                            $('#password_check > i').removeClass('fa-check').addClass('fa-close');
                            $('#rpt_password_check > i').removeClass('fa-check').addClass('fa-close');
                        }else{
                            $('.form_password_message').empty();
                            $('#password_check > i').removeClass('fa-close').addClass('fa-check');
                            $('#rpt_password_check > i').removeClass('fa-close').addClass('fa-check');
                        }
                    });
                </script>
                <div class="form-group">
                    <label for="vacation" class="control-label">Dni urlopowe</label>
                    <input type="number" class="form-control" id="vacation" name="user_vacation" value="{{ user.userVacationDays }}" >
                </div>

            </fieldset>
        </div>
        <div id="example">
            <table id="myTable" class="table table-striped">
                <caption>Stanowiska</caption>
                <tr>
                    <th onclick="sortTable(0)">Departament</th>
                    <th onclick="sortTable(1)">Dział</th>
                    <th onclick="sortTable(2)">Stanowisko</th>
                    <th></th>
                </tr>
                {% for el in user_positions %}
                    <tr>
                        <td>{{ el.departmentName }}</td>
                        <td>{{ el.divisionName }}</td>
                        <td>{{ el.positionName }}</td>
                        {#<td><a href="edit_user/{{ el.id }}" class="btn btn-info"><i class="fa fa-pencil" id="editUser" aria-hidden="true"></i> Edytuj</a></td>#}
                        <td><span class="btn btn-danger" id="{{ el.positionId }}">Usuń</span></td>
                        <div class="confirmation text-center">
                            <h3>Uwaga!</h3>
                            <hr />
                            <p>Czy na pewno chcesz usunąć ten element?</p>
                            <a href="#" class="btn btn-success delete"><i class="fa fa-check" aria-hidden="true"></i> Tak</a>
                            <a class="btn btn-danger cancel" ><i class="fa fa-close" aria-hidden="true"></i> Anuluj</a>
                        </div>
                        <script>
                                $('#{{ el.positionId }}').live('click', function () {
                                    var path = "{{ path('deleteUserPosition', {'userId': user.userId, 'positionId': el.positionId })|raw}}";
                                    $('.confirmation').css('display', 'block');
                                    $('.confirmation > .delete').attr('href', path);
                                    $('.cancel').click(function () {
                                        $('.confirmation').css('display', 'none');
                                    });
                                });
                        </script>
                    </tr>
                {% endfor %}
            </table>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <span class="btn btn-success" id="addPosition"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    <script>
                        $('#addPosition').click(function()
                        {
                            $('#myTable > tbody:last-child').append(
                                '<tr>'
                                + '<td><select name="department" class="form-control" id="department">\n'
                                +'            <option value="default" selected disabled>Wybierz departament</option>\n'
                                +'            {% for el in departments %}\n'
                                +'                <option value="{{ el.departmentId }}">{{ el.departmentName }}</option>\n'
                                +'            {% endfor %}\n'
                                +'        </select></td>'
                                + '<td><select name="division" class="form-control" id="division">\n'
                                + '            <option value="default" selected disabled>Wybierz dział</option>\n'
                                + '        </select></td>'
                                + '<td><select name="position" class="form-control" id="position">\n'
                                +'            <option value="default" selected disabled>Wybierz stanowisko</option>\n'
                                +'        </select></td>'
                                + '<td><span class="btn btn-info" id="savePosition">Zapisz</span></td>'
                                + '</tr>');
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class=" clearfix text-center col-xs-12"><button type="submit" class="btn btn-default">Zapisz</button></div>
            </div>
        </div>
    </form>

        <script>

            $('#department').live('change', function() {
                var department = document.getElementById("department");
                $.ajax('{{ path('pobierz działy') }}', {
                    type: "POST",
                    dataType: "json",
                    data: {
                        "department": department.value
                    },
                    success: function(data) {
                        var division = document.getElementById("division");
                        $('#division').empty();
                        var opt = document.createElement('option');
                        opt.value = 'default';
                        opt.innerHTML = 'Wybierz dział';
                        division.appendChild(opt);
                        for (var x = 0; x<=data.length-1; x++){
                            var opt = document.createElement('option');
                            opt.value = data[x][0]['divisionId'];
                            opt.innerHTML = data[x][0]['divisionName'];
                            division.appendChild(opt);
                        }
                    },
                    error: function() {
                        console.log('fail');
                    }
                });
            });
        </script>

        <script>

            $('#division').live('change', function() {
                var division = document.getElementById("division");
                $.ajax('{{ path('pobierz pozycje') }}', {
                    type: "POST",
                    dataType: "json",
                    data: {
                        "division": division.value
                    },
                    success: function(data) {
                        var position = document.getElementById("position");
                        $('#position').empty();
                        var opt = document.createElement('option');
                        opt.value = 'default';
                        opt.innerHTML = 'Wybierz stanowisko';
                        position.appendChild(opt);

                        for (var x = 0; x<=data.length-1; x++){
                            var opt = document.createElement('option');
                            opt.value = data[x][0]['positionId'];
                            opt.innerHTML = data[x][0]['positionName'];
                            position.appendChild(opt);
                        }
                    },
                    error: function() {
                        console.log('fail');
                    }
                });
            });
        </script>

        <script>

            $('#savePosition').live('click', function() {
                var position = document.getElementById("position");
                $.ajax('{{ path('addUserPosition') }}', {
                    type: "POST",
                    dataType: "json",
                    data: {
                        "position": position.value,
                        "userId": {{ user.userId }}
                    },
                    success: function(data) {
                        var table = document.getElementById("myTable");
                        var rowCount = table.rows.length;
                        table.deleteRow(rowCount - 1);
                        var departmentId = data[0]['departmentId'];
                        var departmentName = data[0]['departmentName'];
                        var divisionId = data[0]['divisionId'];
                        var divisionName = data[0]['divisionName'];
                        var positionId = data[0]['positionId'];
                        var positionName = data[0]['positionName'];

                        $('#myTable > tbody:last-child').append(
                            '<tr>'
                            + '<td>'+departmentName+'</td>'
                            + '<td>'+divisionName+'</td>'
                            + '<td>'+positionName+'</td>'
                            + '<td><span class="btn btn-danger" id="'+positionId+'">Usuń</span></td>'
                            + '</tr>');

                    },
                    error: function(data) {
                        console.log(data);
                    }
                });

            });
        </script>
        <script>

        </script>

        <script>
            function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("myTable");
                switching = true;
                //Set the sorting direction to ascending:
                dir = "asc";
                /*Make a loop that will continue until
                no switching has been done:*/
                while (switching) {
                    //start by saying: no switching is done:
                    switching = false;
                    rows = table.getElementsByTagName("TR");
                    /*Loop through all table rows (except the
                    first, which contains table headers):*/
                    for (i = 1; i < (rows.length - 1); i++) {
                        //start by saying there should be no switching:
                        shouldSwitch = false;
                        /*Get the two elements you want to compare,
                        one from current row and one from the next:*/
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /*check if the two rows should switch place,
                        based on the direction, asc or desc:*/
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch= true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                //if so, mark as a switch and break the loop:
                                shouldSwitch= true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        /*If a switch has been marked, make the switch
                        and mark that a switch has been done:*/
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        //Each time a switch is done, increase this count by 1:
                        switchcount ++;
                    } else {
                        /*If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again.*/
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }
        </script>


{% endblock %}