{% extends 'intranet/base.html.twig' %}

{#<?php#}
{#require_once('controllers/singleNewsController.php');#}
{#$array = getSingleNews($id, $db_user, $db_password);#}
{#?>#}
{%  block body %}
    <link rel="stylesheet" href="{{ asset('css/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <div class="well well-sm"><span class="path"><a href="{{ path('Aktualności') }}">Strona Główna</a> / {{ app.request.get('_route') }}</span></div>
    <div class="row">
        <div class="col-sm-12">
            {% include ('::flash-messages.html.twig') %}
        </div>
    </div>
    {% if userType == 'ROLE_ADMIN' %}
        <div class="text-left">
            <button class="btn btn-success addNews" id="addNews"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</button>
        </div>
    {% endif %}
    <div class="form-group add-div hide">
        {{ form_start(form) }}
        {{ form_row(form.albumName) }}
        {{ form_row(form.albumDesc) }}
        {{ form_row(form.albumImage) }}
        {{ form_end(form) }}

        <div class="text-right cancel-div">
            <button class="btn btn-danger cancelNews" id="cancelNews"><i class="fa fa-close" aria-hidden="true"></i> Anuluj</button>
        </div>
    </div>
    <div class="row text-center gallery-row">
        <div class="col-xs-12 gallery-list">
                {% for el in album %}
                    <div>
                        <a href="album/{{ el.albumName }}">
                            <div class="album-image-div">
                                <img src="{{ asset(imagepath ~ el.albumImage) }}"/>
                            </div>
                            <span class="img-hover">
                                <span class="gallery-image-text">{{ el.albumName }}</span>
                            </span>

                        </a>
                        {% if userType == 'ROLE_ADMIN' %}
                            <span class="album-control">
                                <a href="album/edit/{{ el.albumName }}" class="btn btn-info"><i class="fa fa-pencil" id="editAlbum" aria-hidden="true"></i> Edytuj</a>
                                <button class="btn btn-danger deleteAlbum" id="{{ el.albumId }}"><i class="fa fa-close" aria-hidden="true"></i> Usuń</button>
                                <div class="confirmation">
                                    <h3>Uwaga!</h3>
                                    <hr />
                                    <p>Czy na pewno chcesz usunąć ten element?</p>
                                    <a href="#" class="btn btn-success delete"><i class="fa fa-check" aria-hidden="true"></i> Tak</a>
                                    <a class="btn btn-danger cancel" ><i class="fa fa-close" aria-hidden="true"></i> Anuluj</a>
                                </div>
                            <script>
                                $( document ).ready(function() {
                                    $('#{{ el.albumId }}').on('click', function () {
                                        var path = "{{ path('deleteAlbum', {'albumId': el.albumId })|raw}}";
                                        $('.confirmation').css('display', 'block');
                                        $('.confirmation > .delete').attr('href', path);
                                        $('.cancel').click(function () {
                                            $('.confirmation').css('display', 'none');
                                        });
                                    });
                                });
                            </script>
                                </span>
                        {% endif %}
                    </div>

                {% endfor %}
        </div>
    </div>



    <script>
        $(document).ready(function(){
            //Examples of how to assign the Colorbox event to elements
            $(".group1").colorbox({rel:'group1'});
            $(".group2").colorbox({rel:'group2', transition:"fade"});
            $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
            $(".group4").colorbox({rel:'group4', slideshow:true});
            $(".ajax").colorbox();
            $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
            $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
            $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
            $(".inline").colorbox({inline:true, width:"50%"});
            $(".callbacks").colorbox({
                onOpen:function(){ alert('onOpen: colorbox is about to open'); },
                onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
                onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
                onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
                onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
            });

            $('.non-retina').colorbox({rel:'group5', transition:'none'})
            $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});

            //Example of preserving a JavaScript event for inline calls.
            $("#click").click(function(){
                $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
                return false;
            });
        });
    </script>

{% endblock %}