{% extends 'intranet/base.html.twig' %}


{% block body %}

    <link rel="stylesheet" href="{{ asset('telerik/styles/kendo.common.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('telerik/styles/kendo.rtl.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('telerik/styles/kendo.default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('telerik/styles/kendo.default.mobile.min.css') }}"/>
    <script src="{{ asset('telerik/js/jquery.min.js') }}"></script>
    <script src="{{ asset('telerik/js/jszip.min.js') }}"></script>
    <script src="{{ asset('telerik/js/kendo.all.min.js') }}"></script>
    <script src="{{ asset('telerik/js/kendo.timezones.min.js') }}"></script>
    <script src="{{ asset('telerik/js/messages/kendo.messages.pl-PL.min.js') }}"></script>
    <script src="{{ asset('telerik/js/cultures/kendo.culture.pl-PL.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {#<script src="{{ asset('css/bootstrap.min.css') }}"></script>#}
    <div class="col-sm-12">
        <div class="well well-sm"><span class="path"><a
                        href="{{ path('Aktualności') }}">Strona Główna</a> / {{ app.request.get('_route') }}</span>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include ('::flash-messages.html.twig') %}
            </div>
        </div>

        <section class="home_grid">
            <h2 id="dana">Dokumenty</h2>
            <hr>

            <!-- Trigger the modal with a button -->
            {% if is_granted('ROLE_ADMIN') %}
                <button type="button" class="btn btn-block " data-toggle="modal" data-target="#modalForm">Dodaj
                    dokument
                </button>
            {% endif %}
            <!-- Modal -->
            <div id="modalForm" class="modal fade mb-3" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Dodawanie pliku</h4>
                        </div>
                        <div class="modal-body">
                            {{ form_start(form) }}
                            {{ form_row(form.DocumentFile) }}
                            {{ form_row(form.documentDesc) }}
                            {{ form_row(form.category) }}
                            <a href="{{ path('document_category') }}" class="btn btn-default">Dodaj Nową
                                Kategorię</a>
                            <div class="text-right cancel-div"></div>
                        </div>
                        <div class="modal-footer">
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="grid" style="margin-top: 1em"></div>
            <hr>
        </section>
    </div>

    <script>
        kendo.culture("pl-PL");

        $(".k-window").load(function(){
            console.log("aaaaaaaa")
        });

        $(document).ready(function () {
            var debug_url = '?XDEBUG_SESSION_START=PHPSTORM';
            var
                dataSource = new kendo.data.DataSource({

                    transport: {
                        read: {
                            url: "{{ path('getjsondocs') }}",
                            dataType: "json"
                        },
                        update: {
                            url: "{{ path('updatedoc') }}",
                            type: "post",
                            dataType: "json"
                        },
                        destroy: {
                            url: "{{ path('deletedoc') }}",
                            type: "post",
                            dataType: "json"
                        },
                        {#create: {#}
                        {#url: "{{ path('createdoc') }}",#}
                        {#type: "post",#}
                        {#dataType: "json"#}
                        {#}#}
                    },
                    group: [{field: "category"}, {field: "subcategory"}],
                    batch: true,
                    pageSize: 40,
                    schema: {
                        model: {
                            id: "documentId",
                            fields: {
                                documentId: {editable: false},
                                documentDesc: {editable: true},
                                documentFile: {editable: true},
                                documentDateAdd: {editable: false},
                                documentDateMod: {editable: false},
                                category: {editable: true},
                                subcategory: {editable: true}
                            }
                        }
                    }
                });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                pageable: true,
                selectable: false,
                groupable: true,
                sortable: true,
                // toolbar: ["create"],
                columns: [
                    {
                        field: "documentFile",
                        title: "Plik",
                        template: '<a href="files/#=documentFile#" class="home_grid_link">#=documentFileTitle#</a>'
                    },
                    {
                        field: "documentDateAdd",
                        title: "Data Dodania"
                    },
                    {
                        field: "documentDesc",
                        title: "Opis"
                    },
                    {
                        field: "user",
                        title: "Twórca"
                    },
                    {
                        field: "category",
                        title: "Kategoria"
                    },
                    {
                        field: "subcategory",
                        title: "Podkategoria"
                    }
                    {% if is_granted('ROLE_ADMIN') %}
                    ,
                    {
                        command: ["edit", "destroy"],
                        title: "&nbsp;",
                        width: 200
                    }
                    {% endif %}
                ],
                editable: {
                    mode: "popup",
                    confirmation: true,
                    // editor:,
                    template: $("#popup_editor").html()
                }
            });

            categoriesDS = new kendo.data.DataSource({
                {#transport: {#}
                    {#read: function(options) {#}
                        {#$.ajax({#}
                            {#url: "{{ path('get_json_categories') }}",#}
                            {#dataType: 'json',#}
                            {#success: function(result) {#}
                                {#options.success(result);#}
                            {#}#}
                        {#});#}
                    {#}#}
                {#}#}
                transport: {
                    read: {
                        url: "{{ path('get_json_categories') }}",
                        dataType: "json"
                    }
                }
            });
        });


        $("#categoriesInput").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            height: 100
        })
            .closest(".k-widget")
            .attr("id", "products_wrapper");
    </script>

    <script id="popup_editor" type="text/x-kendo-template">
        <form method="post" action="{{ path('updatedoc') }}" enctype="multipart/form-data">
            <div class="k-edit-label">
                <label for="documentFile">Plik</label>
            </div>
            <div data-container-for="documentFile" class="k-edit-field">
                <input name="files" id="files" type="file" aria-label="files"/>
            </div>
            <input name="documentId" id="documentId" type="text" data-bind="value:documentId" style="display: none;"/>

            <div class="k-edit-label">
                <label for="documentDateAdd">Data Dodania</label>
            </div>
            <div class="k-edit-field">
                <input type="text" class="k-input k-textbox k-state-disabled" name="documentDateAdd"
                       data-bind="value:documentDateAdd" disabled>
            </div>

            <div class="k-edit-label">
                <label for="documentDesc">Opis</label>
            </div>
            <div data-container-for="documentDesc" class="k-edit-field">
                <textarea name="documentDesc" class="k-textbox" data-bind="value:documentDesc"></textarea>
            </div>

            <div class="k-edit-label">
                <label for="user">Twórca</label>
            </div>
            <div data-container-for="user" class="k-edit-field">
                <input type="text" class="k-input k-textbox k-state-disabled" name="user" data-bind="value:user"
                       disabled>
            </div>

            <div class="k-edit-label">
                <label for="category">Kategoria</label>
            </div>
            <div data-container-for="category" class="k-edit-field">
                <input type="text" class="k-input k-textbox" name="category" data-bind="value:category">
            </div>

            <div class="k-edit-label">
                <label for="subcategory">Podkategoria</label>
            </div>
            <div data-container-for="subcategory" class="k-edit-field">
                <input type="text" class="k-input k-textbox" name="subcategory" data-bind="value:subcategory">
            </div>


            <!-- dropdownlist-->
            <div class="k-edit-label">
                <label for="FacultyRankId">Kategoria</label>
            </div>
            <!-- dropdownlist editor for field: "FacultyRankId" -->
            <div class="k-edit-field" id="categoriesDiv">

                {#<select id="categoriesInput"#}
                        {#name="id"#}
                        {#data-role="dropdownlist"#}
                        {#data-option-label="Kategoria"#}
                        {#data-option-label="Wybierz województwo"#}
                        {#data-value-primitive="true"#}
                        {#data-filter="contains"#}
                        {#data-value-field="id"#}
                        {#data-value-field="Id"#}
                        {#data-text-field="name"#}
                        {#data-text-field="Name"#}
                        {#data-bind="value:id"#}
                        {#data-bind="value: EventProvinceID, source: type"#}
                {#>#}
                {#</select>#}

                {#<input id="categoriesInput"#}
                       {#name="id"#}
                       {#data-role="dropdownlist"#}
                       {#data-bind="value:id"#}
                       {#data-source="categoriesDS"#}
                       {#data-value-field="id"#}
                       {#data-text-field="name"#}
                       {#data-source='[{"text":"Głowna2","value":16,"selected":true},{"text":"podkategoria1","value":22}, {"text":"podkategoria2","value":24}, {"text":"Głowna2","value":25}]'#}
                       {#data-source='[{"text":"Płatny","value":1,"selected":true},{"text":"Bezpłatny","value":2}, {"text":"xxx","value":3}]'#}
                       {#data-value-primitive="true"#}
                {#/>#}


                <input id="categoriesInput" name="id"
                       {# tu wskazuję z którą wartością z data-source wiązać ten input tj z czym synchronizować, czyli
                        zmiany w inpucie na które pole ma wpływać z dataSource#}
                       data-bind="value:id"
                       data-value-field="id"
                       {#to co jest wyświetlane w dropdown#}
                       data-text-field="name"
                       data-source="categoriesDS"
                       data-role="dropdownlist"
                       data-value-primitive="true"
                />
            </div>


            {#<button type="submit" class="k-button k-primary">Aktualizuj</button>#}
        </form>
    </script>

{% endblock %}


